@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root {
    --font: 'Red Hat Display', sans-serif;
}
body {
    min-height: 100vh;
    padding: 10px;
    background-image: url(../images/pattern-background-mobile.svg);
    
    background-size: cover;
    font-family: var(--font);
}

    
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#container {
    background-color: white;
    width: 400px;
    border-radius: 10px;
    text-align: center;   
}
figure > img {
    width: 100%;
}


p.teste {
    display: inline-block;
    width: 300px;
    text-align: center;
}

div#container_anualPlan {
    background-color: lightgreen;
    border-radius: 10px;
    padding: 0.2em 0;
    font-size: 1.2rem;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
