@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --fontPrimary: 'Red Hat Display', sans-serif;
    --PaleBlue: hsl(225, 100%, 94%);
    --BrightBlue: hsl(245, 75%, 52%);
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --DesaturatedBlue: hsl(224, 23%, 55%);
    --DarkBlue: hsl(223, 47%, 23%);
    --buttonShadowColor: hsla(224, 23%, 55%, 0.63);
}

body {
    min-height: 100vh;
    overflow: hidden;
    padding: 0em 1.25em;
    background-image: url(../images/pattern-background-desktop.svg);   
    background-repeat: no-repeat;
    font-family: var(--fontPrimary);
    background-color: var(--PaleBlue);
}
   
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#container {
    background-color: #ffffff;
    width: 25em;
    border-radius: 0.625em;
    overflow: hidden;  
}

figure#image_hero > img {
    width: 100%;
}

section div#content_card {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

section div#content_card > h1 {
    font-size: 1.75rem;
    margin: 1.75rem 0em 0.68em;
    font-weight: 900;
    color: var(--DarkBlue);
}

section div#content_card > p.info_card {
    width: 18.75em;
    display: inline-block;
    color: var(--DesaturatedBlue);
    text-align: center;
}

section div#container_anualPlan {
    background-color: var(--VeryPaleBlue);
    border-radius: 0.625em;
    margin-top: 0.93em;
    padding: 0.2em 0em;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section div#container_anualPlan > a.link_change {
    color: var(--BrightBlue);
    font-weight: bolder;
    font-size: 1.05em;
    transition: .2s;
}

section div#container_anualPlan > a.link_change:hover {
    text-decoration: none;
    color:  var(--DesaturatedBlue);
}

section div#container_anualPlan > div.gap_image_hero {
    display: flex; 
    align-items: center; 
    gap: 1em;
}

section div.gap_image_hero > div.collumn_price {
    display: flex; 
    flex-direction: column;
}

section div#content_card > button {
    width: 85%;
    font: bolder 0.9em;
    padding: 1em 0em;
    border-radius: 0.625em;
    background-color: var(--BrightBlue);
    color: var(--PaleBlue);
    border: none;
    box-shadow: 1px 5px 15px var(--buttonShadowColor);
    transition: .3s;
    margin: 1.5em;
}

section div#content_card > button:hover {
    background-color: var(--DesaturatedBlue);
    cursor: pointer;
}

section div#content_card > a.link_cancelOrder {
    text-decoration: none;
    color:  var(--DesaturatedBlue);
    font-weight: 900;
    font-size: 0.9em;
    transition: 0.2s;
    padding: 0em 0em 1.5em 0em;
}

section div#content_card > a.link_cancelOrder:hover {
    color: var(--DarkBlue);
}